@import "../mixin";
#header {
	font-size: 13px;
	.header_coin_bar {
		background: #f2f2f2;
		width: 100%;
		height: 50px;
		overflow: hidden;
		.coinbar {
			max-width: 1200px;
			height: 100%;
			margin: 0 auto;
			position: relative;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 0.25fr;
			@include tablet {
				grid-template-columns: 1fr 1fr 1fr 0.3fr;
			}
			&_sub {
				border-left: 1px solid #ddd;
				display: flex;
				align-items: center;
				&_left {
					padding-left: 15px;
				}
				&_right {
					margin-left: auto;
					display: flex;
					gap: 5px;
					align-items: center;
					.rate {
						align-items: center;
						display: flex;
					}
				}
			}
			&_sub3 {
				@include tablet {
					display: none;
				}
				border-left: 1px solid #ddd;
				display: flex;
				align-items: center;
				&_left {
					padding-left: 15px;
				}
				&_right {
					margin-left: auto;
					display: flex;
					gap: 5px;
					align-items: center;
					.rate {
						align-items: center;
						display: flex;
					}
				}
			}
		}
	}
	.header_logo {
		height: 90px;
		width: 100%;
		.main_logo {
			max-width: 1200px;
			margin: 0 auto;
			position: relative;
			height: 100%;
			.logo_mid {
				display: flex;
				justify-content: center;
				img {
					cursor: pointer;
				}
			}
			.logo_left {
				@include tablet {
					display: none;
				}
				position: absolute;
				cursor: pointer;
				top: 37px;
			}
			.menu {
				@include desktop {
					display: none;
				}
				position: absolute;
				top: 37px;
				left: 20px;
				transform: scale(1.5);
				cursor: pointer;
			}
			.search {
				@include desktop {
					display: none;
				}
				position: absolute;
				top: 37px;
				right: 20px;
				transform: scale(1.5);
				cursor: pointer;
			}
		}
	}
	.header_nav {
		z-index: 10;
		width: 100%;
		height: 56px;
		border-top: 1px solid #e6e6e6;
		border-bottom: 1px solid #888;
		background: #fff;
		// position: fixed;
		// top: 0;
		.main_menu {
			@include tablet {
				background-color: #28417a;
			}
			max-width: 1200px;
			margin: 0 auto;
			position: relative;
			height: 100%;
			&_left {
				@include tablet {
					display: none;
				}
				position: absolute;
				left: 15px;
				transform: scale(1.3);
				line-height: 56px;
				top: 10px;
				display: flex;
				gap: 10px;
				div {
					cursor: pointer;
				}
			}
			&_mid {
				@include tablet {
					font-size: 18px;
					color: #fff;
				}
				width: 700px;
				margin: 0 auto;
				.parent_menu {
					justify-content: center;
					align-items: center;
					margin: 0 auto;
					display: flex;
					gap: 20px;
					a {
						@include tablet {
							border: none !important;
						}
						padding-top: 10px;
						font-size: 20px;
						line-height: 42px;
						list-style-type: none;
					}
				}
			}
			&_right {
				@include tablet {
					display: none;
				}
				position: absolute;
				right: 0;
				transform: scale(1.3);
				line-height: 56px;
				top: 10px;
				display: flex;
				gap: 10px;
				div {
					cursor: pointer;
				}
			}
		}
	}
	.header_topstory {
		width: 100%;
		height: 70px;
		&_main {
			max-width: 1200px;
			margin: 0 auto;
			position: relative;
			height: 100%;
			.fix {
				@include tablet {
					justify-content: center;
				}
				display: flex;
				font-size: 16px;
				line-height: 70px;
				color: #333;
				.default {
					color: #448aff;
				}
				.text {
					padding-left: 10px;
				}
				.time {
					font-size: 12px;
					color: #999;
					display: flex;
					line-height: 70px;
					.clock {
						align-items: center;
						display: flex;
						transform: scale(0.5);
					}
				}
			}
		}
	}
}
