.right .ad {
	height: 250px;
	margin-bottom: 10px;
}
.right .box {
	width: 100%;
	border: 1px solid #ced2d7;
	margin-bottom: 10px;
}
.right .box h3 {
	line-height: 45px;
	height: 40px;
	position: relative;
	padding-left: 20px;
	background: #f2f2f2;
	border-bottom: 1px solid #ced2d7;
	color: #333;
	font-size: 16px;
	font-weight: bold;
}
.right .box .list_item {
	display: grid;
	height: 236px;
	overflow: hidden;
}
.right .box .list_item .item {
	width: 270px;
	margin: 0 15px;
}
.right .box .list_item .item .main {
	padding: 15px 0;
	display: flex;
	gap: 10px;
	font-size: 12px;
	border-bottom: 1px solid #ced2d7;
}
.right .box .list_item .item .main .number {
	margin-top: 15px;
	position: relative;
	width: 16px;
	height: 16px;
	background: orange;
	border-radius: 50%;
}
.right .box .list_item .item .main .number .ab {
	position: absolute;
	padding: 1px 0 0 5px;
}
.right .box .list_item .item .main .content {
	width: 135px;
	line-height: 24px;
	font-weight: 550;
}
.right .box .list_item .item .main .img {
	border: 1px solid #ced2d7;
	display: flex;
	justify-content: center;
	width: 83px;
	margin-left: 15px;
}
.right .box .list_item .item .main .img img {
	margin: 0 auto;
	width: 65px;
}
.right .boxlive {
	width: 100%;
	border: 1px solid #ced2d7;
	margin-bottom: 10px;
	height: 370px;
}
.right .boxlive h3 {
	height: 40px;
	position: relative;
	padding-left: 20px;
	background: #f2f2f2;
	border-bottom: 1px solid #ced2d7;
	color: #333;
	font-size: 16px;
	font-weight: bold;
	display: flex;
	gap: 10px;
	align-items: center;
}
