#header {
	font-size: 13px;
}
#header .header_coin_bar {
	background: #f2f2f2;
	width: 100%;
	height: 50px;
	overflow: hidden;
}
#header .header_coin_bar .coinbar {
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 0.25fr;
   /* @include tablet {
		grid-template-columns: 1fr 1fr 1fr 0.3fr;
   }
	*/
}
#header .header_coin_bar .coinbar_sub {
	border-left: 1px solid #ddd;
	display: flex;
	align-items: center;
}
#header .header_coin_bar .coinbar_sub_left {
	padding-left: 15px;
}
#header .header_coin_bar .coinbar_sub_right {
	margin-left: auto;
	display: flex;
	gap: 5px;
	align-items: center;
}
#header .header_coin_bar .coinbar_sub_right .rate {
	align-items: center;
	display: flex;
}
#header .header_coin_bar .coinbar_sub3 {
   /* @include tablet {
		display: none;
   }
	*/
	border-left: 1px solid #ddd;
	display: flex;
	align-items: center;
}
#header .header_coin_bar .coinbar_sub3_left {
	padding-left: 15px;
}
#header .header_coin_bar .coinbar_sub3_right {
	margin-left: auto;
	display: flex;
	gap: 5px;
	align-items: center;
}
#header .header_coin_bar .coinbar_sub3_right .rate {
	align-items: center;
	display: flex;
}
#header .header_logo {
	height: 90px;
	width: 100%;
}
#header .header_logo .main_logo {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	height: 100%;
}
#header .header_logo .main_logo .logo_mid {
	display: flex;
	justify-content: center;
}
#header .header_logo .main_logo .logo_mid img {
	cursor: pointer;
}
#header .header_logo .main_logo .logo_left {
   /* @include tablet {
		display: none;
   }
	*/
	position: absolute;
	cursor: pointer;
	top: 37px;
}
#header .header_logo .main_logo .menu {
   /* @include desktop {
		display: none;
   }
	*/
	position: absolute;
	top: 37px;
	left: 20px;
	transform: scale(1.5);
	cursor: pointer;
}
#header .header_logo .main_logo .search {
   /* @include desktop {
		display: none;
   }
	*/
	position: absolute;
	top: 37px;
	right: 20px;
	transform: scale(1.5);
	cursor: pointer;
}
#header .header_nav {
	z-index: 10;
	width: 100%;
	height: 56px;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #888;
	background: #fff;
}
#header .header_nav .main_menu {
   /* @include tablet {
		background-color: #28417a;
   }
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	height: 100%;
	&_left {
		@include tablet {
			display: none;
	   }
		position: absolute;
		left: 15px;
		transform: scale(1.3);
		line-height: 56px;
		top: 10px;
		display: flex;
		gap: 10px;
		div {
			cursor: pointer;
	   }
   }
	&_mid {
		@include tablet {
			font-size: 18px;
			color: #fff;
	   }
		width: 700px;
		margin: 0 auto;
		.parent_menu {
			justify-content: center;
			align-items: center;
			margin: 0 auto;
			display: flex;
			gap: 20px;
			a {
				@include tablet {
					border: none !important;
			   }
				padding-top: 10px;
				font-size: 20px;
				line-height: 42px;
				list-style-type: none;
		   }
	   }
   }
	&_right {
		@include tablet {
			display: none;
	   }
		position: absolute;
		right: 0;
		transform: scale(1.3);
		line-height: 56px;
		top: 10px;
		display: flex;
		gap: 10px;
		div {
			cursor: pointer;
	   }
   }
	*/
}
#header .header_topstory {
	width: 100%;
	height: 70px;
}
#header .header_topstory_main {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	height: 100%;
}
#header .header_topstory_main .fix {
   /* @include tablet {
		justify-content: center;
   }
	*/
	display: flex;
	font-size: 16px;
	line-height: 70px;
	color: #333;
}
#header .header_topstory_main .fix .default {
	color: #448aff;
}
#header .header_topstory_main .fix .text {
	padding-left: 10px;
}
#header .header_topstory_main .fix .time {
	font-size: 12px;
	color: #999;
	display: flex;
	line-height: 70px;
}
#header .header_topstory_main .fix .time .clock {
	align-items: center;
	display: flex;
	transform: scale(0.5);
}

