.index {
	.hotnews {
		max-width: 1198px;
		margin: 0 auto 50px;
		position: relative;
		display: flex;
		gap: 10px;
		.main_left {
			min-width: 714px;
		}
		.main_right {
			float: right;

			.item {
				border: 1px solid #d9d9d9;
				width: 230px;
				height: 232px;
				position: relative;
				cursor: pointer;
				&:hover {
					box-shadow: 1px 2px 4px #888888;
					transform: translateY(-3px);
					transition: 0.4s;
					img {
						// transform: scale(1.2);
						// transition: 0.2s;
					}
				}
				img {
					display: block;
					width: 100%;
					height: 132px;
					overflow: hidden;
				}
				.content {
					margin: 15px;
					position: absolute;
					top: 132px;
					.tag {
						display: inline-block;
						padding: 0 5px;
						line-height: 22px;
						font-size: 12px;
						background: #009b28;
					}
					.text {
						font-size: 16px;
						color: #000;
						margin-top: 5px;
						height: 44px;
						line-height: 22px;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						word-wrap: break-word;
						font-family: "nanum_bold" !important;
					}
				}
			}
		}
	}
	.sec1 {
		background: #f3f3f3;
		.main {
			padding: 70px 0;
			max-width: 1198px;
			margin: 0 auto;
			position: relative;
			.top {
				padding: 5px 0 15px 0;

				.title {
					text-align: center;
					font-size: 32px;
				}
				.text {
					margin: 5px;
					text-align: center;
					font-weight: normal;
				}
			}
			.list_item {
				.item {
					border: 1px solid #d9d9d9;
					cursor: pointer;
					background: white;
					width: 231.6px;
					&:hover {
						transform: translateY(-10px);
						transition: 0.4s;
						background: #009b28;
						border: 1px solid #009b28;

						.text {
							.title {
								color: white;
							}
							.content {
								color: #fff;
								opacity: 0.8;
							}
							.time {
								color: #fff;
								opacity: 0.6;
							}
						}
					}
					img {
						width: 100%;
						height: 155px;
					}
					.text {
						padding: 20px 15px;
						.title {
							font-size: 16px;
							height: 40px;
							color: #333;
							font-family: "nanum_bold" !important;
							font-weight: bold;
							line-height: 22px;
							margin-bottom: 10px;
							padding-bottom: 2px;
						}
						.content {
							position: relative;
							color: #666;
							font-size: 13px;
							line-height: 18px;
							height: 36px;
							overflow: hidden;
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							word-wrap: break-word;
						}
						.time {
							color: #999;
							font-size: 12px;
							letter-spacing: 0;
							margin-top: 9px;
							position: relative;
							max-width: 100%;
							display: inline-block;
						}
					}
				}
			}
		}
	}
	.sec2 {
		background: #fff;
		.main {
			padding: 70px 0;
			max-width: 1198px;
			margin: 0 auto;
			position: relative;
			.top {
				padding: 5px 0 15px 0;

				.title {
					text-align: center;
					font-size: 32px;
				}
				.text {
					margin: 5px;
					text-align: center;
					font-weight: normal;
				}
			}
			.list_item {
				.item {
					border: 1px solid #d9d9d9;
					cursor: pointer;
					background: white;
					width: 231.6px;
					&:hover {
						transform: translateY(-10px);
						transition: 0.4s;
						background: orange;
						border: 1px solid orange;

						.text {
							.title {
								color: white;
							}
							.content {
								color: #fff;
								opacity: 0.8;
							}
							.time {
								color: #fff;
								opacity: 0.6;
							}
						}
					}
					img {
						width: 100%;
						height: 155px;
					}
					.text {
						padding: 20px 15px;
						.title {
							font-size: 16px;
							height: 40px;
							color: #333;
							font-family: "nanum_bold" !important;
							font-weight: bold;
							line-height: 22px;
							margin-bottom: 10px;
							padding-bottom: 2px;
						}
						.content {
							position: relative;
							color: #666;
							font-size: 13px;
							line-height: 18px;
							height: 36px;
							overflow: hidden;
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							word-wrap: break-word;
						}
						.time {
							color: #999;
							font-size: 12px;
							letter-spacing: 0;
							margin-top: 9px;
							position: relative;
							max-width: 100%;
							display: inline-block;
						}
					}
				}
			}
		}
	}
}
